.header-container {
  .offer {
    text-align: center;
    padding: 5px;
    font-size: 11px;
    letter-spacing: 0.2px;
    line-height: 15px;
    font-weight: 500;
  }

  .offer-bg-color {
    background-color: #bf1e2e;
    color: white;
  }

  .anchor-font-color-white{
    color: white;
  }
  .font-color-red{
    color: #bf1e2e;
    text-decoration: none;
  }
}
