.header-container {
  flex-shrink: 0;
  flex-grow: 0;
  .offer {
    text-align: center;
    padding: 5px;
    font-size: 11px;
    letter-spacing: 0.2px;
    line-height: 15px;
    font-weight: 500;
  }

  .offer-bg-color {
    background-color: #bf1e2e;
    color: white;
  }

  .anchor-font-color-white{
    color: white;
  }
  .font-color-red{
    color: #bf1e2e;
    text-decoration: none;
  }

  // css for sidenav
  .example-container {
    display: flex;
    flex-direction: column;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
  }
  
  .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  .example-is-mobile {
    
  }

  .justify-space-between{
    display: flex;
    justify-content: space-between;
  }
  
  .example-app-name {
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 15px;
    font-weight: 500;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    z-index: 2;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
    
  }
  
}
