.footer-container {
  flex-shrink: 0;
  flex-grow: 0;
  .copyright-label {
    border-top: 1px solid gray;
    padding: 10px;
    font-size: 11px;
    text-align: center;
  }
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

}
