<div class="wall-display-containter">

    <!-- Product detail component to show the product details -->
    <app-product-details [title]="title" [rating]="rating" [discount]="discount" [coupon]="coupon"
        [strikePrice]="productStrikePrice" [cPrice]="productCPrice" [discoutPercentage]="discoutPercentage"
        [starCount]="starCount" [imageName]="imageName"></app-product-details>

    <!-- CHOOSE YOUR CANVAS WALL DISPLAY -->
    <div class="canvas-wall">
        <h2 class="heading-canvas">CHOOSE YOUR CANVAS WALL DISPLAY</h2>
        <div class="after-canvas">Quality you can trust!</div>
    </div>

    <div class="" *ngFor="let productData of productCardData">
        <app-product-card [productCardData]="productData"></app-product-card>
    </div>

</div>