<div class="canvas-displays-containter">
    <!-- Product detail component to show the product details -->
    <app-product-details [title]="title" [rating]="rating" [discount]="discount" [coupon]="coupon"
        [strikePrice]="productStrikePrice" [cPrice]="productCPrice" [discoutPercentage]="discoutPercentage"
        [starCount]="starCount" [imageName]="imageName">
    </app-product-details>

    <!-- CHOOSE YOUR CANVAS PRINTS -->
    <div class="canvas-wall">
        <h2 class="heading-canvas">PANORAMIC CANVAS PRINTS INFO</h2>
        <div class="after-canvas"></div>
    </div>

    <div class="card-container">
        <img src="../../../assets/images/4.jpg" width="100%" height="60%">
        <p class="headline">Elevate the Look of Any Space with Our Panoramic Canvas Prints!</p>

        <p class="content">
            Panoramas are extremely creative canvas prints that are typically mounted and displayed over your sofa in
            the living room. You can also hang them over your fireplace or mantle. Other areas for these beautiful
            canvas prints include bedrooms, dens, and dining rooms.
        </p>

        <p class="headline">Panoramic Canvas Photo Print Sizes</p>
        <p class="content">Our panoramic Canvas Photo Prints are available in the following standard sizes</p>

        <p class="headline">Material Uses for Panoramic Canvas Prints</p>
        <p class="content">We provide our panoramic canvas prints with the highest quality canvas materials that are all
            North American made and consisting of 380 GSM premium artist quality. Furthermore, they are also water
            resistant with the finest texture you will ever find. Other notable features include matte poly/cotton blend
            materials.</p>

        <p class="headline">Panoramic Wrap Thickness</p>
        <p class="content">Our panoramic canvas gallery wraps are available in multiple sizes of different thicknesses,
            including 3/4" (thin gallery) and 1 3/4" (thick gallery).</p>

        <p class="headline">Image Requirements</p>
        <p class="content">Once you upload your panoramic photos through our website’s image uploader, you need to keep
            in mind that we have a built-in DPI checker that analyzes the file you have uploaded, what quality it has,
            and the size options that are applicable on it. These sizes are available in the standard size drop down
            option through which you can opt for a suitable size of your choosing and preview the image. Once you are
            done selecting the size options, you can check any customization effects you’d like. We have an option which
            displays a quality score bar that indicates the quality of the image. If your image comes up with any sort
            of error, it will be indicated immediately.</p>
        <div class="button-style flex-center">
            <button type="submit" class="btn btn-primary">UPLOAD PHOTOS</button>
        </div>
    </div>
    <hr class="horizontal-line-style">
</div>