<div class="login-main-container">
    <ng-container>
        <div class="heading">
            Sign in to Innovative Canvas
        </div>
    
        <div class="content-login-page">
    
            <div class="social-login-btns">
                <a href="#" class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                   </a>
                  <a href="#" class="twitter btn">
                    <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                  </a>
                  <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                    </i> Login with Google+
                  </a>
            </div>
    
            
            <div class="or or--x" aria-role="presentation">or via Email</div>
    
            <div class="email-login">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email Id</mat-label>
                    <input type="email" [(ngModel)]="email" matInput placeholder="Enter Email Id">
                </mat-form-field>
        
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" [(ngModel)]="password" matInput placeholder="Enter Password">
                </mat-form-field>
            </div>
    
    
    
            <button class="login-btn" (click)="loginEvent()" mat-flat-button>LOGIN</button>
            <span routerLink="/register" class="new-user-routing">New User?</span>
        </div>
    </ng-container>

</div>