section {
  margin: 30px;

  .card-product-details {
    h3 {
      font-size: 16px;
      font-weight: bold;
      font-family: CircularStd_Black, Helvetica, Arial, sans-serif;
      margin-bottom: 5px;
    }
    .heading::after {
        width: 50px;
        clear: both;
        content: "";
        background: #e5e5e5;
        height: 1px;
        display: block;
        margin: 6px 0;
      }

    .description {
      letter-spacing: 0.2px;
      color: #666;
      font-size: 12px;
    }
  }

  .button-style {
    margin-top: 10px 10px;
    text-transform: uppercase;
    .btn {
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      line-height: 20px;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      text-transform: uppercase;
      background-color: #ddd;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding: 10px 20px;
      border-radius: 3px;
    }
    .btn-primary {
      color: #fff;
      background-color: #bf1e2e;
      border-color: #bf1e2e;
      font-size: 11px;
      white-space: normal;
      padding: 8px 10px;
    }
  }
}
