<section>
    <div class="card-container">
        <img src="../../../assets/images/{{productDetailCardData.imageName}}" width="100%" height="75%">
    </div>
    <div class="card-product-details" [ngStyle]="{'text-align': productDetailCardData.alignment}">
        <h3 class="heading" *ngIf="productDetailCardData.alignment === 'left'">{{productDetailCardData.title}}</h3>
        <h3 *ngIf="productDetailCardData.alignment === 'center'">{{productDetailCardData.title}}</h3>
        <p class="description" *ngIf="productDetailCardData.description">
            {{productDetailCardData.description}}
        </p>
        <div *ngIf="productDetailCardData.buttonName" class="button-style">
            <button type="submit" class="btn btn-primary">{{productDetailCardData.buttonName}}</button>
        </div>
    </div>
</section>