.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center{
  text-align: center;
}

.button-style {
    margin: 10px 0px;
    .btn {
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      line-height: 20px;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      text-transform: uppercase;
      background-color: #ddd;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding: 10px 20px;
      border-radius: 3px;
    }
    .btn-primary {
      color: #fff;
      background-color: #bf1e2e;
      border-color: #bf1e2e;
      font-size: 11px;
      white-space: normal;
      padding: 8px 10px;
    }
  }